.container {
  display: flex;
  width: 450px;
}
.title h1 {
 display: flex;
 color: #b8004d;
 width: 350px;
}
.description {
 display: flex;
 align-items: center;
 justify-content: space-around;
 color: #5f5b5d;
 font-size: 23px;
}
.cities {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.cities li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  color: #b8004d;
  margin: .5em;
  padding: .1em 1em;
  height: 1.6em;
  width: 200px;
  border-radius: 4px;
}

.cities li:hover {
  color: rgb(139, 96, 135);
  background-color: #DDD;
  left: .1em;
}


.cities .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:rgb(139, 96, 135);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
